* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html{
  color-scheme: dark light;
}

@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*navigation*/
.nav-bar{
  display:flex;
  background-color:white;
  flex-flow:row wrap ;  
  justify-content: center;
  font-family: 'Markazi Text', serif;
  font-size: 2rem;
}

.nav-container{
list-style-type: none;
margin-left: auto;
align-self: center;
}

.nav-container li{
  display: inline-block;
  padding-right: 25px;
  padding-left: 25px;
}

.nav-container a:link{
  text-decoration: none;
  color:black;
}
.nav-container a:visited{
  color:black;
}
.nav-container a:hover{
  box-shadow: 0 5px #495e57;
  color: black;
}
.nav-container a:active{
  color: #F4CE14;
}

#nav-logo{
  width: 100%;
}

.nav-toggle{
  display: none ;
}

/*responsaive navbar*/
@media (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    z-index: 9999;
  }

  .nav-bar ul {
    flex-direction: column;
    display: none;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  .nav-container.expanded {
    display:flex;
    background-color:white;
    flex-flow:row wrap ;  
    justify-content: center;
    font-family: 'Markazi Text', serif;
    font-size: 2rem;
  }

  .nav-container.expanded li  {
    border-top: #333333 solid;
    text-align: center;
    padding-bottom: .5rem;
  }

  #nav-logo{
    width: 70%;
  }
  
/*hamburger icon /  animation*/

.nav-toggle{
  display: block;
  background: transparent;
  border-radius: .5rem;
  border: 5px solid var(--button-color,#495e57);
  position: absolute;
  top: 1rem;
  right: 2rem;
}
.hamburger{
  width: 2rem;
  aspect-ratio: 1;
  fill: var(--button-color);
  --button-color:#495e57
}

.hamburger .line {
  transition: 
    y 300ms ease-in 300ms,
    rotate 300ms ease-in,
    opacity 0ms 300ms;
    ;
    transform-origin: center;
}

.hamburger[data-expanded = "true"] .line {
  transition: 
    y 300ms ease-in,
    rotate 300ms ease-in 300ms,
    opacity 0ms 300ms;
}

.hamburger[data-expanded = "true"] :is(.top, .bottom){
  y: 45;
}

.hamburger[data-expanded = "true"] .top{
  rotate: 45deg;
}

.hamburger[data-expanded = "true"] .middle{
  opacity: 0;
}

.hamburger[data-expanded = "true"] .bottom{
  rotate: -45deg;
}

}


/*header/CTA*/
#parent{
  position: relative;
}
header{
  background-color: #495e57;
  display: flex ;
}
.CTA{
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
header > div > h1{
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-size: 53px;
  font-weight:500 ;
}

header > div> h2{
  color: white;
  font-size: 40px;
  font-family: 'Markazi Text', serif;
  font-weight:500 ;
}

header > div > p{
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  height:auto;
  width: 19rem;
}

.header-button{
  display: inline-block;
  border-radius: 16px;
  background-color:#F4CE14;
  border: none;
  font-family: 'Karla', sans-serif; ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight:bold;
  margin-top: 1rem;
}

.header-button a:link{
  color: #333333;
  text-decoration: none;
}
.header-button a:visited{
  color:#333333;
}
.header-button a:hover{
  box-shadow: 0 5px #495e57;
  color: black;
}
.header-button a:active{
  color: white;
}

#header-img{
  position: absolute;
  top: 50px;
  left:60%;
  width: 300px;
  height: 400px;
}
#header-img >img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media screen and (max-width:600px){
  #header-img{
  display: none;
  }
}

/*main*/
main{
  display: flex;
  flex-direction: column;
  padding-bottom:2em;
  padding-top: 9rem;
}

@media screen and (max-width:600px){
  main{
    padding-top: 5rem;
  }
}

/*main header*/
.main-header{
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media screen and (max-width:600px) {
  .main-header{
    flex-direction: column;
  };
}

.main-h2{
  color:black;
  font-size: 50px;
  font-family: 'Markazi Text', serif;
  font-weight:500 ;
  margin-left: 15%;
  box-shadow:0 3px ;
}

@media screen and (max-width:600px) {
  .main-h2{
    font-size: 40px;
    width: fit-content;
    align-items: center;
    margin-bottom: 1rem
  };
}

.main-header > div{
  margin-left: 35%;
  align-self: center;
}

.main-button{
  border-radius: 16px;
  background-color:#F4CE14;
  border: none;
  font-family: 'Karla', sans-serif; ;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight:bold;
}
.main-button a:link{
  color: #333333;
  text-decoration: none;
}
.main-button a:visited{
  color:#333333;
}
.main-button a:hover{
  box-shadow: 0 5px #495e57;
  color: black;
}
.main-button a:active{
  color: white;
}

@media screen and (max-width:600px) {
  .main-header > div{
    margin-left: 0;
  }
}

/*main section items*/
#main-section{
  display:flex ;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 2rem;
  padding: 2rem;
  justify-content: center;
  align-self: center;
  max-width: fit-content;
}
.item-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-width: 350px;
}
article{
  background-color:#FBDABB ;
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border-radius: 0px 0px 16px 16px;
  padding-bottom: 20px;
}
.item-title{
  display: flex;
  color: #333333;
  flex-direction: row wrap;
  font-family: 'Markazi Text', serif;
  font-size:24px;
  flex-grow: 100%;
  width: 100%;
  padding-left: 20px;
}
.item-price-wrapper{
  margin-left: auto;
  color: #EE9972;
  font-size: 21px;
  font-weight:600;
  padding-right: 20px;
}

.item-image-wrapper{
  display: flex;
}
[class|="main-img"]{
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.item-description-wrapper{
  display: flex;
  flex-grow: 1;
  color: #333333;
  font-family: 'Karla', sans-serif;
  width: 17rem;
  padding: 20px;
}
.item-description-wrapper > p{
  display: flex;
  font-size: large;
}

.article-link{
  padding-left: 20px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Karla', sans-serif;
  color: black;
}
/*footer*/
footer{
  display: flex;
  flex-direction: row;
  background-color: #495e57;
  margin-top: auto;
}

@media screen and (max-width:600px) {
  footer{
    display:  flex;
    flex-direction: column;
  }
}

.footer-logo-wrapper{
  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}
#footer-logo{
  background-color: white;
  padding: 20px;
  width: 50%;
}

@media screen and (max-width:600px) {
  .footer-logo-wrapper{
    padding-top: 10px
  };
}

.footer-nav-wrapper{
  display: flex;
  flex-grow: 1;
}
#nav-footer{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:600px) {
  #nav-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.footer-column{
  flex:50%;
  padding:10px;
  font-family: 'Markazi Text', serif;
  font-size: 2rem;
  text-align: center;
  min-width: fit-content;
}

.footer-nav-button{
  margin: 10px;
  padding: 10px;
}
.footer-nav-button > a {
  display: block;
  color: white;
  font-family: 'Markazi Text', serif;
  font-size: 2rem;
  border: solid;
  text-decoration: none;
}


.footer-nav-button > a:link{
  text-decoration: none;
}
.footer-nav-button > a:visited{
  color:white;
}
.footer-nav-button > a:hover{
  color: black;
}
.footer-nav-button > a:active{
  color: white;
}

.copyright{
  display: flex;
  flex-wrap: wrap;
  align-self:flex-end;
  color: white;
  font-family: 'Markazi Text', serif;
  font-size: 21px;
}

@media screen and (max-width:600px) {
  .copyright{
  align-self: center;
  }
}